.button {
  border: none;
  background-color: transparent;
  border-radius: 15px;
  font-size: 14px;
  padding: 4px 8px;
}

.active {
  background-color: #3f3f46;
  color: white;
  font-weight: 500;
}

.price p {
  font-size: 16px;
  font-weight: 500;
}

.price h4 {
  font-size: 20px;
}

.dollar {
  color: #22c55e;
  font-size: 20px;
  font-weight: 500;
}

.discount {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
  background-color: #ef4444;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}


