.navbar {
  height: 64px;
}


.logo {
  width: 45px;
}

.hamburger{
font-size: 24px;
display: none;
}

.right-container span{
font-size: 28px;
}


.input input{
height: 44px;
border: none;
outline: none;
}

.input input {
  border: 1px solid #E5E7EB;
  border-left: none;
  font-size: 18px;
  color: #9CA3AF;
}


.search {
  font-size: 28px;
}

.icon {
  border: 1px solid #E5E7EB;
  border-right:none ;
  height: 44px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;

  align-items: center;

  margin-left: -40px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

/* Style for the cart icon container to position the badge correctly */
.cart-icon-container {
  position: relative;
}

.cart-icon {
  font-size: 28px;
}

/* Style for the round counter */
.cart-count {
  top: 4px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F87171;

}


.counter-number{
  font-size: 12px !important;
}

@media (max-width:576px) {
  .input{
    justify-content: center;
  }
  .input input {
   max-width: 90px;;
  }
  .right-container {
    margin-left: 20px;
  }
  .hamburger{
    display:block;
  }
}




